$font-colors: #354a52 ;
$secondary-font-color: #60858d ;

$white: #fff ; 
$black: #000 ;

$primary-color: #55ffc7 ; 
$secondary-color: #fb3373 ;

$third-color: #5f5c58 ; 
$fouth-color: #61f9eb;

$primary-backgroung: #f6f8f7; 
$secondary-background: #182631 ;