.device 
{
    form 
    {
        width: 60%;
        margin: 0 auto;
        color: $white;
        padding: 50px;
        background: $secondary-background;
        border-radius: 20px;
        text-align: center;
    }
}